<div class="container-fluid">
    <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Services</h4>
                                <p class="category">2017-2018</p>
                            </div>
                            <div class="content">
                                    <table class="table table-bordered">
                                            <thead>
                                                    <tr>
                                                        <th colspan="3">Code</th>
                                                        <th colspan="1">Heures à faire </th>
                                                        <th rowspan="2">Heures<br> faites</th>
                                                        <th rowspan="2">Bilan</th>
                                                        <th rowspan="2">Responsable</th>
                                                        <th rowspan="2">Verrou</th>
                                                          </tr>
                                              <tr>
                                                <th scope="col">Code UE</th>
                                                <th scope="col">Titre UE</th>
                                                <th scope="col">Maquette</th>
                                               
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor='let row of rows'>
                                                            <td>{{row.codeue}}</td>
                                                            <td>{{row.titreUE}}</td>
                                                            <td>{{row.maquette}}</td>
                                                            <td>{{row.hAFaire}}</td>

                                                            <td *ngIf='row.hFaites==0'>
                                                                    <span class="label label-warning">{{row.hFaites}}</span>
                                                                    </td>
                                                                    <td *ngIf='row.hFaites>0'>
                                                                            <span class="label label-primary">{{row.hFaites}}</span>
                                                                            </td>
                                                                            <td *ngIf='row.hFaites>hAFaire'>
                                                                                    <span class="label label-info">{{row.hFaites}}</span>
                                                                                    </td>
                                                                                    <td *ngIf='row.hFaites==hAFaire'>
                                                                                            <span class="label label-success">{{row.hFaites}}</span>
                                                                                            </td>
                                                            <td *ngIf='row.hBilan==0'>
                                                                    <span class="label label-success">{{row.hBilan}}</span>
                                                            </td>
                                                            <td *ngIf='row.hBilan<0'>
                                                                    <span class="label label-danger">{{row.hBilan}}</span>
                                                            </td>
                                                            <td *ngIf='row.hBilan>0'>
                                                                    <span class="label label-primary">{{row.hBilan}}</span>
                                                            </td>
                                                            <td>{{row.responsableUE}}</td>
                                                            <td *ngIf='row.verrouUE==true'>
                                                                <span class="label label-primary">ON</span>
                                                            </td>
                                                            <td *ngIf='row.verrouUE==false'>
                                                                <span class="label label-warning">OFF</span>
                                                            </td>
                                                                                          </tr>
                                            
                                            </tbody>
                                          </table>
                                <div class="footer">
                                    
                                </div>
                            </div>
                            <div class="footer">
                                <nav   aria-label="Page navigation example">
                                        <button class="btn btn-primary btn-fill btn-m">Precedent</button>
                                        <button  class="btn btn-primary btn-fill btn-m text-right" >Suivant</button>
                        
                        
                                </nav>
                            </div>

                        </div>
                    </div>  
</div>
</div>