<div class="col-md-12">
  <div class="card">
      <div class="header">
          <h4 class="title">Mes quotas</h4>
          <p class="category">2017-2018</p>
      </div>
      <div class="content">
              <table class="table table-bordered">
                      <thead>
                              <tr>
                                  <th colspan="3">Code UE</th>
                                  <th colspan="3">Heures à faire </th>
                                  <th rowspan="2">Heures<br> faites</th>
                                  <th rowspan="2">Bilan</th>
                                  <th rowspan="2">Verrou</th>
                                  <th rowspan="2">Action</th>
                                    </tr>
                        <tr>
                          <th scope="col">Code UE</th>
                          <th scope="col">Non UE</th>
                          <th scope="col">Semestre</th>
                          <th scope="col">CM</th>
                          <th scope="col">TP</th>
                          <th scope="col">TD</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Licence IN100</th>
                          <td>Fondements de l'Informatique I</td>
                          <td>L1 S2</td>
                          <td>22</td>
                          <td>0</td>
                          <td>12</td>                                                    <td><span class="label label-warning">35</span>
                          </td>
                          <td><span class="label label-danger">-1</span>
                          </td>
                          <td><span class="label label-primary">ON</span>
                          </td>
                          <td>
                                  <div class="dropdown">
                                          <button class="btn btn-info btn-m btn-fill dropdown-toggle" type="button" 
                                          data-toggle="dropdown">Action
                                          </button>
                                          <ul class="dropdown-menu">
                                              <li><a href="#"><i class="ti-trash"></i>  Supprimer</a></li>
                                              <li><a href="#"><i class="ti-pencil"></i> Editer</a></li>
                                            
                                          </ul>
                                        </div>
                          </td>
                          
                        </tr>
                        <tr>
                          <th scope="row">Licence IN100</th>
                          <td>Fondements de l'Informatique I</td>
                          <td>L1 S2</td>
                          <td>22</td>
                          <td>0</td>
                          <td>12</td>                                                    <td><span class="label label-warning">35</span>
                          </td>
                          <td><span class="label label-danger">-1</span>
                          </td>
                          <td><span class="label label-primary">ON</span>
                          </td>
                          <td>
                                  <div class="dropdown">
                                          <button class="btn btn-info btn-m btn-fill dropdown-toggle" type="button" 
                                          data-toggle="dropdown">Action
                                          </button>
                                          <ul class="dropdown-menu">
                                              <li><a href="#"><i class="ti-trash"></i>  Supprimer</a></li>
                                              <li><a href="#"><i class="ti-pencil"></i> Editer</a></li>
                                            
                                          </ul>
                                        </div>
                          </td>
                          
                        </tr>
                        <tr>
                          <th scope="row">Licence IN100</th>
                          <td>Fondements de l'Informatique I</td>
                          <td>L1 S2</td>
                          <td>22</td>
                          <td>0</td>
                          <td>12</td>                                                    <td><span class="label label-warning">35</span>
                          </td>
                          <td><span class="label label-danger">-1</span>
                          </td>
                          <td><span class="label label-primary">ON</span>
                          </td>
                          <td>
                                  <div class="dropdown">
                                          <button class="btn btn-info btn-m btn-fill dropdown-toggle" type="button" 
                                          data-toggle="dropdown">Action
                                          </button>
                                          <ul class="dropdown-menu">
                                              <li><a href="#"><i class="ti-trash"></i>  Supprimer</a></li>
                                              <li><a href="#"><i class="ti-pencil"></i> Editer</a></li>
                                            
                                          </ul>
                                        </div>
                          </td>
                          
                        </tr>
                        <tr>
                          <th scope="row">Licence IN100</th>
                          <td>Fondements de l'Informatique I</td>
                          <td>L1 S2</td>
                          <td>22</td>
                          <td>0</td>
                          <td>12</td>                                                    <td><span class="label label-warning">35</span>
                          </td>
                          <td><span class="label label-danger">-1</span>
                          </td>
                          <td><span class="label label-primary">ON</span>
                          </td>
                          <td>
                                  <div class="dropdown">
                                          <button class="btn btn-info btn-m btn-fill dropdown-toggle" type="button" 
                                          data-toggle="dropdown">Action
                                          </button>
                                          <ul class="dropdown-menu">
                                              <li><a href="#"><i class="ti-trash"></i>  Supprimer</a></li>
                                              <li><a href="#"><i class="ti-pencil"></i> Editer</a></li>
                                            
                                          </ul>
                                        </div>
                          </td>
                          
                        </tr>
                        <tr>
                          <th scope="row">Licence IN100</th>
                          <td>Fondements de l'Informatique I</td>
                          <td>L1 S2</td>
                          <td>22</td>
                          <td>0</td>
                          <td>12</td>                                                    <td><span class="label label-warning">35</span>
                          </td>
                          <td><span class="label label-danger">-1</span>
                          </td>
                          <td><span class="label label-primary">ON</span>
                          </td>
                          <td>
                                  <div class="dropdown">
                                          <button class="btn btn-info btn-m btn-fill dropdown-toggle" type="button" 
                                          data-toggle="dropdown">Action
                                          </button>
                                          <ul class="dropdown-menu">
                                              <li><a href="#"><i class="ti-trash"></i>  Supprimer</a></li>
                                              <li><a href="#"><i class="ti-pencil"></i> Editer</a></li>
                                            
                                          </ul>
                                        </div>
                          </td>
                          
                        </tr>
                               
                      </tbody>
                    </table>
          <div class="footer">
              
          </div>
      </div>
  </div>
</div>