
    <div class="row">

        <div class="col-lg-4 col-md-5">
        <div class="card card-user">
            <div class="image">
                <img src="assets/img/background.jpg" alt="..."/>
            </div>
            <div class="content">
                <div class="author">
                  <img class="avatar border-white" src="assets/img/faces/face-2.jpg" alt="..."/>
                  <h4 class="title">idouhammou.a</h4>
                </div>
                <p class="description text-center">
                    "Enseignant"
                </p>
            </div>
            <hr>
            <div class="text-center">
               
            </div>
        </div>
       
    </div>
    <div class="col-lg-8 col-md-7">
        <div class="card">
            <div class="header">
                    <h4 class="title">Informations diplôme</h4>
            </div>
            <div class="content">
                    <div class="row">
                            <ul>
                                <li><b>Code UE :</b> </li>
                                <li><b>Titre UE :</b> </li>
                                <li><b>Departement : </b></li>
                                <li><b> Semestre :</b> </li>
                                <li><b>Volume horaire :</b> </li>

                            </ul>
                        </div>
                        
            </div>
        </div>
    </div>
    </div>
