<div class="col-md-12">
  <div class="card">
      <div class="header">
          <h4 class="title">Sous ma responsabilité</h4>
          <p class="category">Premier semester</p>
      </div>
      <div class="content">
              <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Code UE</th>
                          <th scope="col">Label UE</th>
                          <th scope="col">Semestre</th>
                          <th scope="col">Verrou</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of diplomeByEns">
                          <td scope="row">{{item.idDiplome}}</td>
                          <td scope="row">{{item.label}}</td>
                          <td>{{item.semestre}}</td>
                          <td *ngIf="item.volumehoraire=='dslh'"><span class="label label-success">ON</span></td>
                          <td *ngIf="item.volumehoraire!='dslh'"><span class="label label-warning">OFF</span></td>
                          
                        </tr>
                       
                      </tbody>
                    </table>
          <div class="footer">
              
          </div>
      </div>
  </div>
</div>